@using TaoStore.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Models.Famework.Product>
@{
    ViewBag.Title = "Product-Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>
                        @{
                            if (ViewBag.Category == true)
                            {
                                <label style="color:aliceblue">@ViewBag.Mes</label>
                            }
                        }
                    </h4>
                    <div class="add-product">
                        <a href="@Url.Action("Add","Product")">Add Product</a>
                    </div>
                    <table id="table">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Count</th>
                            <th>Discount</th>
                            <th>Note</th>
                            <th>Setting</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ProductId">
                                <td>
                                    @{
                                        if (item.Photo.Photo1 == null || item.Photo.Photo1 == "")
                                        {
                                            <img src="~/Asset/Image/Category/not-available.jpg" alt="" />
                                        }
                                        else
                                        {
                                            <img src=@Url.Content(item.Photo.Photo1) alt="" />
                                        }
                                    }
                                </td>
                                <td>@item.ProductName</td>
                                <td>
                                    @{
                                        @*if (item.Status == true)
                                            {
                                                <button class="pd-setting" id="btn-status" data-id="@item.CategoryId">Active</button>
                                            }
                                            else
                                            {
                                                <button class="ds-setting" id="btn-status" data-id="@item.CategoryId">Disabled</button>
                                            }*@
                                        <button id="btn-status" style="background-color:darkgray" class="btn-status" data-id="@item.ProductId">@(item.Status==true? "Active": "Disable")</button>
                                    }
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.Discount</td>
                                <td>@(item.Note!=""?item.Note:"Chưa cập nhật")</td>
                                <td>
                                    <a href="@Url.Action("EditProduct","Product",new { @id=item.ProductId})">
                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                    </a>

                                    @*<a class="pd-setting-ed">
                                              @Ajax.ActionLink(" ", "Delete", new { id = item.CategoryId }, new AjaxOptions
                                        {
                                            Confirm = "Ban co muon xoa san pham nay khong? ",
                                            OnComplete = "$('#row_" + item.CategoryId + "').remove()",
                                            HttpMethod = "Delete"
                                        })
                                          </a>*@
                                    @*<a>
                                         <button onclick="Delete()" data-id="@item.CategoryId" id="btndelete"  data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </a>*@

                                    <a onclick="Delete('@Url.Action("Delete","Product",new { id=item.ProductId})')">
                                        <button id="btndelete" data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="custom-pagination">
                        <div class="pagination">
                            @Html.PagedListPager(Model, page =>
                            Url.Action("Index", new { page = page }),
                            new PagedListRenderOptions
                                {
                                LiElementClasses = new string[] { "page-item" },
                        })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterAdmin{

    <script type="text/javascript">
        function Delete(url) {
            console.log("xóa");
            console.log(url);
            var res = confirm('Bạn có muốn xóa mục này không???');
            console.log(res);
            if (res == true) {
                $.ajax({
                    url: url,
                    type: 'Delete',
                    success: function (response) {
                        alert("Delete succsefully!!");
                        console.log(response.productId);
                        $('#row_' + response.productId).remove();
                    },
                    error: function (e) {
                        alert("Delete fail " + e);
                    }
                })
          }
        }
    </script>
    <script src="~/Asset/Admin/js/controller/product/product.js"></script>
}
