@using TaoStore.Models;
@using Models;
@model IEnumerable<Models.Famework.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    if (ViewBag.Mes != null)
    {
        <section class="mes">
            <div>@ViewBag.Mes</div>
        </section>
    }
}

<section id="product1" class="section-p1">
    <div class="pro-container">
        @{
            foreach (var item in Model)
            {
                <div class="pro">
                    <a href="@Url.Action("ProductDetail","Product",new { @id=item.ProductId})">
                        <img src="~/Asset/Page/img/products/f1.jpg" alt="">
                    </a>
                    <div class="des">
                        <span>@item.Brand.BrandName</span>
                        <h5>@item.ProductName</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>$@item.ProductPrice</h4>
                    </div>
                    @*<a href="@Url.Action("AddCart", "Cart", new {@productId=item.ProductId,@quantity=1})"><i class="fa-solid fa-cart-plus cart"></i></a>*@
                </div>
            }
        }
    </div>
</section>

<section id="pagination" class="section-p1">
    @if (pager.TotalPages > 0)
    {
        if (pager.CurrentPage > 1)
        {
            <a href="@Url.Action("Index", "Product", new { @pg=pager.CurrentPage-1})"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
        }
        for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
        {
            <a href="@Url.Action("Index", "Product", new { @pg=pge})">@pge</a>
        }
        if (pager.CurrentPage < pager.TotalPages)
        {
            <a href="@Url.Action("Index", "Product", new { @pg=pager.CurrentPage+1})"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        }
    }
</section>

