@using Models.Famework

@model List<Product>
<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Desgin</p>
    <div class="pro-container">
        @{
            int i = 0;
            foreach (var item in Model)
            {
                if (i < 8)
                {
                    <div class="pro">
                        <img src=@Url.Content(item.Photo.Photo1) alt="">
                        <div class="des">
                            <span>@item.Brand.BrandName</span>
                            <h5>@item.ProductName</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div>
                                @{
                                    var outh_price = @item.ProductPrice - @item.ProductPrice * @item.Discount / 100;
                                }
                                <h4>-@item.Discount% $<del>@item.ProductPrice</del> @outh_price</h4>
                            </div>
                        </div>
                        <a href="@Url.Action("AddCart", "Cart", new {@productId=item.ProductId,@quantity=1})"><i class="fa-solid fa-cart-plus cart"></i></a>
                    </div>
                    i++;
                }
                else
                {
                    break;
                }
            }
        }
    </div>
</section>
