@{
    var listCat = (List<Models.Famework.Category>)ViewBag.listCat;
    var listBrand = (List<Models.Famework.Brand>)ViewBag.listBrand;
    var acount = (Models.Famework.Acount)Session["loginSession"];
        int countCartItem = 0;
        if (Session["giohang"] != null)
        {
            List<TaoStore.Models.CartItem> carts = (List<TaoStore.Models.CartItem>)Session["giohang"];
            countCartItem = carts.Count;
        }
    }
<section id="header">
    <a href="#"><img src="~/Asset/Page/img/logo.png" class="logo" alt=""></a>
    <div>
        <ul id="navbar">
            <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
            <li>
                <div class="dropdown">
                    <a class="dropbtn" href="@Url.Action("Index","Product")">
                        Shop
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class="dropdown-content">
                        @foreach (var brand in listBrand)
                        {
                            <a href="@Url.Action("ProductByBrand","Product",new {@id=brand.BrandId})">@brand.BrandName</a>
                        }
                        <span>----</span>
                        @foreach (var category in listCat)
                        {
                            <a href="@Url.Action("ProductByCat","Product",new { @id=category.CategoryId})">@category.CategoryName</a>
                        }
                    </div>
                </div>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
            @{
                if (acount == null)
                {
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a href="@Url.Action("Index","Login")">
                                    Login
                                </a>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Create","Login")">Create</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">
                                <a href="@Url.Action("Index","Login")">
                                    @acount.AcountName
                                </a>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="@Url.Action("Logout","Login")">Logout</a>
                                <a href="@Url.Action("Create","Login")">Create</a>
                            </div>
                        </div>
                    </li>
                }
            }
            <li><a href="@Url.Action("Index","Cart")"><i class="fa-solid fa-cart-shopping "></i>
                   @if (countCartItem != 0)
                    {
                        <label>(@countCartItem)</label>
                    }
                </a>
            </li>
            <a href="#" id="close"><i class="fa fa-times" aria-hidden="true"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>
