<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dashboard  | Tao-Store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Asset/Admin/img/favicon.ico">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    @Styles.Render("~/Content/Admin/css")
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Asset/Admin/js/vendor/modernizr-2.8.3.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

     @Html.Partial("Menuleft")
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="~/Asset/Admin/img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            @Html.Partial("Header")
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("menu")
        </div>
        @RenderBody()
        @Html.Partial("Footer")
    </div>
    <!-- jquery
          <!-- jquery
        ============================================ -->

    @Scripts.Render("~/bundles/admin/js")

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("FooterAdmin", required: false)

</body>

</html>