<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    @Styles.Render("~/bundles/page/css")
    <!-- <link rel="stylesheet" href="css/all.min.css"> -->
    <script src="https://kit.fontawesome.com/d5558d6c2f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    @{ Html.RenderAction("ParialMenu", "Home");}
    <section id="hero">
        <h2>Siêu ưu đãi</h2>
        <h1>Đa dạng sản phẩm</h1>
        <p>Giảm đến 70% mừng Black-Fire Day</p>
        <a href="@Url.Action("ProductByDiscount","Product",new {@discount=70})">
            <button>Shop Now</button>
        </a>
    </section>


    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f1.png" alt="">
            <h6>Mua hàng online</h6>
        </div>
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f2.png" alt="">
            <h6>Free ship</h6>
        </div>
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f3.png" alt="">
            <h6>Tích kiệm với voicher</h6>
        </div>
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f4.png" alt="">
            <h6>Nhận quà may mắn</h6>
        </div>
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f5.png" alt="">
            <h6>Nhiều flash sale</h6>
        </div>
        <div class="fe-box">
            <img src="~/Asset/Page/img/features/f6.png" alt="">
            <h6>Hỗ trợ nhanh chóng</h6>
        </div>
    </section>
    @RenderBody()


<section id="banner" class="section-m1">
    <h4>Tưng bừng đón tết</h4>
    <h2>Giảm tới <span>50%</span> - Các sản phảm và phụ kiện đi kèm</h2>
    <a href="@Url.Action("ProductByDiscount","Product",new {@discount=50})">
        <button class="normal">Xem ngay</button>
    </a>
</section>

    @{ Html.RenderAction("BestSale", "Home");}

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <h4>crazy deals</h4>
            <h2>buy 1 get 1 free</h2>
            <span>The best dress is on sale at Tao</span>
            <button class="white">Learn More</button>
        </div>
        <div class="banner-box banner-box2">
            <h4>spring/summer</h4>
            <h2>upcomming season</h2>
            <span>The best dress is on sale at Tao</span>
            <button class="white">Learn More</button>
        </div>
    </section>

    <section id="banner3">
        <div class="banner-box">
            <h2>SEASONAL SALE</h2>
            <h3>Winter collection -50% OFF</h3>
        </div>
        <div class="banner-box banner-box2">
            <h2>New Footwear collection</h2>
            <h3>Spring/summer 2022</h3>
        </div>
        <div class="banner-box banner-box3">
            <h2>Sneaker</h2>
            <h3>Winter collection -50% OFF</h3>
        </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign uo For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email adress">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    @Html.Partial("Footer")
    @Scripts.Render("~/bundles/page/js")
    @RenderSection("Script",false)
</body>
</html>
