@using TaoStore.Models;
@model List<CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
@if (Model != null)
{
      int total = (int)ViewBag.Total;
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>Remove</td>
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                }
                @foreach (var item in Model)
                {
                    <tr id="row_@i">
                        <td>
                            <a data-id="@item.product.ProductId" data-size="@item.Size" class="btn-delete" href="#">
                                <i class="far fa-times-circle"></i>
                            </a>
                        </td>
                        <td><img src=@Url.Content(item.product.Photo.Photo1) alt=""></td>
                        <td>@item.product.ProductName/@item.Size</td>
                        <td>@item.product.ProductPrice.GetValueOrDefault(0)</td>
                        <td>
                            <form id="formEdit_@i" action="@Url.Action("EditCart","Cart",new {productId=item.product.ProductId,quantity="$('#sml').val()",size=item.Size})" method="post">
                                <input id="slm" name="quantity" min="1" step="1" type="number" value="@item.Quantity" onchange="$('#formEdit_@i').submit();" />
                            </form>
                        </td>
                        <td>@item.Total</td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter your code">
                <button class="normal">Apply</button>
            </div>
        </div>
        <div id="subtotal">
            <h3>Cart Subtotal</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>@total</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>@total</strong></td>
                </tr>
            </table>
            <a href="@Url.Action("Index","Pay")">
                <button class="normal">Check out cart</button>
            </a>
        </div>
    </section>
    // pay by momo

    @section Script{
        <script type="text/javascript">
            $('.btn-delete').off('click').on('click', function () {
                $.ajax({
                    url: 'Cart/Delete',
                    data: { id: $(this).data('id'), size: $(this).data('size') },
                    dataType: 'Json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "Cart/Index";
                        }
                    }
                })
            });
        </script>
    }


}
else
{
    @section Script{
        <script type="text/javascript">
            window.onload = function () {
                swal("Good job!", "Your cart hasn't any product!", "info");
            }
        </script>
    }
}
@if (ViewBag.Flag == false)
{
    string mes = (string)ViewBag.MesCart;
    @section Script{
        <script type="text/javascript">
            window.onload = function () {
                swal("Good job!",@mes, "erro");
            }
        </script>
    }
}


